@font-face {
    font-family: 'JetBrains Mono Bold';
    src: url('../../assets/JetBrainsMono-Bold.ttf') format('truetype');
}

:root {
    --vp-sidebar-width: 300px;
    --vp-font-family-base: "customFont";
    font-family: 'JetBrains Mono Bold', Consolas, serif;
}

code {
    font-family: 'JetBrains Mono Bold', Consolas, serif;
}
